In [1]:
#kako da se preuzme Pandas i da provjerimo verziju

import pandas as pd
#print(pd.__version__)

#Napravimo pandas niz od: 1)list, 2)numpy array, 3)dictionary

import numpy as np
lista = list("abcdefg")
numpy_array = np.arange(1, 10) #od 1 do 10 svi brojevi
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}

In [2]:
series1 = pd.Series(lista) #stampa svaki element liste u vrste i oznacavamo vrste od 0 do broj elemenata unutar liste
print(series1)
series2 = pd.Series(numpy_array)
print(series2)
series3 = pd.Series(dictionary) #kod dictionary ne oznacimo vrste 
#sa indeksima nego kako su oznacene unutar dictionary
print(series3)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
A    0
B    1
C    2
D    3
E    5
dtype: int64

In [3]:
#Kako da napravimo tabelu

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr)) #napravimo dictionary tako da spojimo prvi element 
#iz my list sa prvom elementom od myarr
#print(mydict)
ser = pd.Series(mydict)
#print(ser)

ser_df = pd.DataFrame(ser)#dodamo jos jednu vrstu gore jer to ce da nam bude potrebno za indeksiranje
#print(ser_df)
ser_df.reset_index() #stavimo indekse od 0 do n, lijeva kolona

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

In [4]:
#Kako da prikazemo dvije ili vise nizova tabelarno
ser1 = pd.Series(list('EnisaErestina'))
ser2 = pd.Series(np.arange(13))
#print(ser1)
#print(ser2)

#Koristimo Pandas DataFrame
twoser = pd.DataFrame({"col1":ser1, "col2":ser2})
twoser.head() #po default pokaze samo prve 5 vrste, a mozemo vise ili manje od toga npr twoser.head(13)
#print(twoser) - print ne stampa ih kako treba, preglednije .head()

  col1  col2
0    E     0
1    n     1
2    i     2
3    s     3
4    a     4

In [5]:
#Kako dati ime nizu?
niz = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
niz.name = "slove" #koristimo atribut name
niz #ili print(niz)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: slove, dtype: object

In [6]:
#Kako da napravimo niz koji ima 30 elemenata i svi elementi imaju vrijednosti od 0 do 15?

new = pd.Series(np.random.randint(1, 15, 30)) # 1 je od kojeg broja moze da pocinje do 15
# 30 je koliko linija, vrste imamo
new 
#dovoljno je samo ime ne treba print ovdje

pd.DataFrame(new.values.reshape(5, 6)) # koristimo 5 i 6 jer 5 * 6, uvijek proizvod
#ove dvije daje broj linija, 5 vrsta i 6 kolona
#napravili smo tablicu na neki drugi nacin

    0   1   2   3  4   5
0   7  12  12  14  5  12
1   6   4   3   3  7   3
2  13   4  14   7  5   7
3   7  13  11   8  2   5
4  11  12   5   3  4   2

In [7]:
#Kako da nadjemo elemente koje su na odredjene pozicije?

n = pd.Series(list('Pandas_u_Kaggle'))
pos = [0, 4, 8, 14]
#Koristimo funkciju take, onda uzima vrijednost u poziciji koju mi definisemo
n.take(pos)

0     P
4     a
8     _
14    e
dtype: object

In [8]:
#Da svaki rijec ima prvu veliku slovu
ser = pd.Series(['Danas', 'je', 'lijep', 'dan'])
ser
[i.title() for i in ser] #list
#ili
ser.map(lambda x: x.title()) #tabela

0    Danas
1       Je
2    Lijep
3      Dan
dtype: object